body{
  background-color: rgb(221, 216, 206);

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.dataMap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.data {
  width: calc(20% - 20px); /* Adjust the width as needed */
  margin: 10px; /* Add some spacing between items */
  border: 1px solid #777777;
  padding: 1em;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(243, 241, 236);

}

@media only screen and (max-width: 1080px) {
  /* Adjust the styles for smaller screens (e.g., phones) */
  .data {
    width: calc(30% - 20px); /* Display one item per row on smaller screens */
    /* Additional styles for mobile layout if needed */
  }
}

@media only screen and (max-width: 768px) {
  /* Adjust the styles for smaller screens (e.g., phones) */
  .data {
    width: 100%; /* Display one item per row on smaller screens */
    /* Additional styles for mobile layout if needed */
  }
}

select {
  padding: 10px;
  border: 1px solid #777777;
  border-radius: 4px;
}

/* Style the dropdown arrow */
select::-ms-expand {
  display: none; /* Remove the default arrow on IE */
}

/* Style the dropdown options */
option {
  background-color: rgb(243, 241, 236);
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #777777;
  border-radius: 8px;
  margin-right: 10px;
}

.custom-select{
  margin-right: 10px;

}

.loading{
  max-width: 100px;
  padding: 20px;
}